#camera {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    background-color: #333;
    background-size: cover;
    background-image: url('');
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}
